if SHIELD_JDACTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "jdactyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_JDACTYL_LEFT || SHIELD_JDACTYL_RIGHT

config ZMK_SPLIT
    default y

endif